:root {
    --main-color: #509dae;
    --main-bg-color: #3c3c3c;
    --input-box-color: #575757;
    --button-hover-color: #1a4849;
}
body {
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
#title {
    font-size: 3em;
    margin: 0.3em;
    text-align: center;
    text-shadow: 0px 0px 10px var(--main-color);
}
#form {
    position: relative;
    border: 4px solid var(--main-color);
    border-radius: 15px;
    /*padding: 5em;*/
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 1em;
    transition: 0.3s ease;
}
    #form:hover {
        
    }
.buttons {
    padding: 1em;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    transition: all 300ms;
    background-color: var(--main-color);
    color: white;
}
    .buttons:hover {
        background-color: var(--button-hover-color);
        cursor: pointer;
    }
.inputs {
    margin: 2em;
    width: 80%;
}
#logo {
    width: 15%;
    position: absolute;
    right: 0%;
    top: 0%;
}
#hints{
    margin: 1em;
}
#newPasswordInput{
    display: none;
    margin-left: 1%;
}

.inputboxes{
    
    padding:0.7em;
    color: inherit;
    font-family: inherit;
    font-size:inherit;
    background-color: var(--input-box-color);
    transition: 0.3s;
    border: 3px solid var(--input-box-color);
    outline: none;
    margin-left: 7%;
    border-radius: 5px;

}
    .inputboxes:focus {
        border: 3px solid var(--main-color)  ;
    }